.card {
    background-color: #fff;
    border: none;
    border-radius: $border-radius;
    padding: 2rem;

    &--gray {
        background-color: $secondary;
    }

    &--yellow {
        background-color: $primary;
    }

    &--shadow {
        box-shadow: $shadow;
    }
}