.card {
    background-color: #fff;
    border: none;
    border-radius: $border-radius;
    padding: 2rem;

    &--gray {
        background-color: $secondary;
    }

    &--yellow {
        background-color: $primary;
    }

    &--shadow {
        box-shadow: rgba(255, 255, 255, 0.05) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.1) 0px 50px 100px -20px, rgba(0, 0, 0, 0.15) 0px 30px 60px -30px;
    }
}