$font-color: #2b2740;
$body-bg: #fafbfd;
$primary: #f9d57f;
$secondary: #fafbfd;
$border-radius: 1.5rem;
$shadow: rgba(255, 255, 255, 0.05) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.1) 0px 50px 100px -20px, rgba(0, 0, 0, 0.15) 0px 30px 60px -30px;

@import "bootstrap";